repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-merge-conflict

-   repo: https://github.com/compilerla/conventional-pre-commit
    rev: 'v3.2.0'
    hooks:
    -   id: conventional-pre-commit
        stages: [commit-msg]

