/*
 * Copyright Siemens AG, 2013-2015. Part of the SW360 Portal Project.
 * With modifications by Bosch Software Innovations GmbH, 2016.
 *
 * SPDX-License-Identifier: EPL-1.0
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 */

.ui-dialog .ui-dialog-titlebar {
    border: none;
    font-size: 16px;
}

.ui-dialog .ui-dialog-content {
    font-size: 12px;
}

.ui-dialog input[type=button] {
    padding: 0 1em;
    margin: 0 0.5em;
}

.form-group [role=alert] {
    color: darkred;
}

#navigation ul {
    border: none !important;
}

#navbar {
    border: none;
}
