/**
 * Copyright Siemens AG, 2017. Part of the SW360 Portal Project.
 *
 * SPDX-License-Identifier: EPL-1.0
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 */

#componentMergeWizard .wizardBody .step div.spinner {
    display: block;

    width: 100%;
    height: 200px;

    vertical-align: middle;
    text-align: center;
}

#componentMergeWizard .wizardBody .step div, #componentMergeWizard .wizardBody .step label {
    display: inline-block;
}

#componentMergeWizard .wizardBody .step .stepFeedback {
    margin: 0;
    padding: 0;
    width: 100%;
}

#componentMergeWizard .wizardBody .step .stepFeedback .alert {
    margin: 2%;
    margin-top: 0;
    border: 1px #aaaaaa solid;
    border-radius: 5px;
    padding: 2%;
    width: 92%;
    min-height: 30px;

    color: black;
    background-color: #e95850;
}

#componentMergeWizard .wizardBody .step input[type="radio"] {
    margin-top: 0;
    margin-right: 5px;
}

#componentMergeWizard .wizardBody .category {
    display: block;

    margin-bottom: 5px;
    padding: 2%;
    border: 1px solid #66c1c2;
    width: 96%;

    background-color: #b2e0e0;
    font-weight: bold;
}

#componentMergeWizard .wizardBody .merge.line, #componentMergeWizard .wizardBody .display.line {
    display: block;

    margin-left: 4%;
    margin-bottom: 3px;
    padding: 0.5%;
    border: 1px solid #66c1c2;
    width: 95%;
}

#componentMergeWizard .wizardBody .merge.single.header, #componentMergeWizard .wizardBody .merge.multi.header,
#componentMergeWizard .wizardBody .display.single.header, #componentMergeWizard .wizardBody .display.multi.header {
    display: block;

    padding: 0.5%;
    width: 99%;

    background-color: #b2e0e0;
}

#componentMergeWizard .wizardBody .mergeRow, #componentMergeWizard .wizardBody .displayRow {
    padding: 0.5%;
    width: 99%;
}

#componentMergeWizard .wizardBody .merge.single.left, #componentMergeWizard .wizardBody .merge.single.right {
    width: 45%;

    vertical-align: middle;
}

#componentMergeWizard .wizardBody .merge.single.mid {
    width: 8%;

    vertical-align: middle;
    text-align: center;
    font-size: x-large;
}

#componentMergeWizard .wizardBody .merge.single.mid input{
    width: 80%;
}
