/**
 * Copyright Siemens AG, 2017. Part of the SW360 Portal Project.
 *
 * SPDX-License-Identifier: EPL-1.0
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Description: Styles for printing sw360 pages
 *
 * Author: alex.borodin@evosoft.com
 *         thomas.maier@evosoft.com
 */

@media print {

    /* hide unnecessary fields */
    #banner,
    #footer,
    #breadcrumbs,
    #navigation,
    #searchInput,
    #releaseSelect,
    #extendedByReleases,
    #myTab ul.nav-tabs,
    #projectsTable_info,
    #usingProjectsTable_info,
    #usingProjectsTable_paginate,
    .addButton,
    .cancelButton,
    .dataTables_length,
    .dataTables_filter,
    .dataTables_paginate,
    .dataTables_info,
    .table-action,
    .dt-buttons,
    .portlet-column-last,
    .navbar-inner,
    .breadcrumb-horizontal {
        display: none;
    }

    /* detail and edit pages */
    #pageHeader {
        margin-bottom: 40px;
    }

    /* release page */
    #releaseHeaderLabel {
        margin-bottom: 20px;
    }

    /* do not print additional hyperlinks */
    .noprint {display:none !important;}
    a:link:after, a:visited:after {
        display: none;
        content: "";
    }

    @media print and (orientation: landscape) {
        /* landscape styles */

        .content2 {
            width: 115%;
            float: left;
            margin-left: -45px;
        }

        #content {
            width: 115%;
            float: left;
            margin-left: -45px;
        }
    }

    @media print and (orientation: portrait) {
        /* portrait styles */

        .content2 {
            width: 100%;
            float: left;
        }

        #content {
            width: 100%;
            float: left;
        }
    }
}
