/*
 * Copyright Siemens AG, 2013-2015. Part of the SW360 Portal Project.
 *
 * SPDX-License-Identifier: EPL-1.0
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 */

table {
    width: 900px;
    margin-top: 3%;
    margin-left: 2%;
    background-color: #f8f7f7;
    border-bottom: 1px solid #66c1c2;
}

td {
    font-size: 12px;
    font-family: Arial;
    /*min-width: 200px;*/
}

th {
    font-size: 12px;
    font-family: Arial;
    text-align: left;
    min-height: 20px;
    verticalAlign: middle;
}

tr {
    min-height: 30px;
}

.typePic {
    vertical-align: middle;
    line-height: 50px;
}

div.content1 {
    padding: 0px;
    float: left;
    left: 3%;
    top: 90px;
    width: 20%;
    /*margin-right:3%;*/
    overflow: auto;
}

div.content2 {
    padding: 0px;
    float: right;
    position: relative;
    width: 80%;
}

div.SW360content1
        {
            padding: 0px;
            float:left;
            left: 3%;
            top: 90px;
            width: 20%;
            margin-right:2%;
            overflow: auto;

        }
 div.SW360content2
        {
            padding: 0px;
            float:right;
         	min-height:500px;
            left: 25%;
            top: 90px;
            width: 78%;
            /*margin-right:3%;*/
            overflow: auto;
        }
div.SW360full
{
    padding: 0px;
    min-height:500px;
    top: 90px;
    overflow: auto;
    width: 100%;
}

 label {
     display: block;
 }