/*
 * Copyright Siemens AG, 2017.
 * Part of the SW360 Portal Project.
 *
 * SPDX-License-Identifier: EPL-1.0
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 */
div.wizardHeader {
    margin: 40px 0;
}

div.wizardHeader ul {
	list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;

    margin: 0;
}

div.wizardHeader ul li {
	margin: 10px;
	border: 1px #aaaaaa solid;
    border-radius: 5px;
    padding: 10px;
    flex: 1 1 0;

    text-align: center;
    font-weight: bold;

    background-color: #eeeeee;
}

div.wizardHeader ul li.active {
    background-color: #9de997;
}

div.wizardHeader ul li small {
    font-weight: normal;
}

div.wizardBody .step {
    display: none;
}

div.wizardBody .step.active {
    display: block;
}

div.wizardFooter {
    float: right;

	margin: 30px 0;
}
