/**
 * Copyright Siemens AG, 2013-2018. Part of the SW360 Portal Project.
 * With modifications by Bosch Software Innovations GmbH, 2016.
 *
 * SPDX-License-Identifier: EPL-1.0
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Description: Styles for sw360 portlet Pages
 *
 * Authors: nunifar.ms@siemens.com
 *          puspa.panda@siemens.com,
 *          johannes.najjar.ext@siemens.com
 *          thomas.maier@evosoft.com
 */

div.content1 {
    padding: 0px;
    float: left;
    left: 3%;
    top: 90px;
    width: 20%;
    margin-right: 2%;
    overflow-x: auto;
    overflow-y: hidden;
}

div.content2 {
    padding: 0px;
    float: right;
    /*min-height:500px;*/
    left: 25%;
    top: 90px;
    width: 78%;
    overflow: auto;
    /*min-height:480px;
    margin-right: 3%;*/

}

.checkboxlabel {
    font-family: arial;
    font-size: 12px;
    color: #333333;
}

.textlabel {
    font-family: arial;
    font-size: 12px;
    color: #333333;
}

.textlabel.mandatory:after {
    content: " *";
    color: red;
}

label.inlinelabel {
    display: inline;
}

.toplabelledInput, .stackedlabel {
    display: block;
}

.followedByImg {
    max-width: 80%;
}

.content_table {
    vertical-align: top;
}

.info_table {
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(248, 247, 247);
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    font-family: Arial, sans-serif;
    font-size: 12px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    width: 100%;
}

.info_table_left_column {
    width: 30%;
}

.info_table_right_column {
    width: 70%;
}

.info_table > thead > tr > th {
    background-color: rgb(178, 224, 224);
    border: medium none;
    font-weight: bold;
    padding: 20px 10px;
}

.clickAble {
    background-color: rgb(178, 224, 224);
    cursor: pointer;
}

.clickAble:hover {
    background-color: rgb(204, 204, 204);
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.minWidth {
    text-align: right;
    display: inline-block;
    min-width: 2em;
}

.info_table > tbody > tr {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 10px;
}

.info_table > tbody > tr > td:nth-of-type(odd) {
    height: 22px;
    padding: 10px;
    color: rgb(51, 51, 51);
}

.info_table > tbody > tr > td:nth-of-type(even) {
    height: 22px;
    padding: 10px;
    color: black;
}

.innerTable thead th, .innerTable th, .innerTable td, .innerTable tbody td {
    border-top: none !important;
}

.infoheading {
    background-color: #b2e0e0;
    border-bottom: 2px solid #66c1c2;
    cursor: pointer;
    *cursor: hand;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding: 3px 18px 3px 18px;
    vertical-align: text-top;
}

.homepageheading {
    background-color: #b2e0e0;
    border-bottom: 2px solid #66c1c2;
    cursor: pointer;
    *cursor: hand;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding: 3px 18px 3px 18px;
    vertical-align: text-top;
}

.homepageListing {
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #cccccc;
    width: auto;
    height: 160px;
}

.homepageListingTable {
    font-size: 10px;
    font-weight: normal;
    border: 1px solid #cccccc;
    width: auto;
    height: 450px;
    padding: 0 0;
}

.homepageListingContent {
    padding: 5px;
}

.homepageListingRight {
    font-size: 12px;
    font-weight: normal;
    width: auto;
    height: 160px;
}

#searchInput .searchbar {
    display: inline-block;
    color: rgb(85, 85, 85);
    width: 90%;
    padding: 5px;
    height: 20px;
}

#searchInput select.searchbar {
    min-width: 162px;
    min-height: 28px;
}

#searchInput .searchbutton {
    display: inline-block;

    padding: 5px 20px 5px 20px;
    border: none;
    font-weight:bold;
}

#searchInput table {
    width: 100%;
}

.nav-tabs {
    background-color: #f8f7f7;
    font: normal 14px "Arial";
    color: #000000 !important;
}

.nav-tabs > .active, .nav-tabs > li > .active {
    border-left: 4px solid red;
    background: #cccccc !important;
    color: #000000 !important;
}

.nav-tabs > a:hover, .nav-tabs > li > a:hover {
    border-left: 4px solid red;
    background: #aaaaaa;
    color: #000000;
}

.nav-tabs > a, .nav-tabs > li > a {
    color: #000000 !important;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

input[readonly].clickable {
    cursor: pointer;
}

#releaseSelect {
    left: 30px;
    top: -4px;
    position: relative;
}
#releaseHeaderLabel {
    top: 20px;
    position: relative;
}

#dataSourceTable .selected td {
    background-color: #3366FF;
    color:#FFFFFF;
}

.release-list-entry-element {
    width: 18%;
}

.release-list-entry-element input {
    width: 95%;
    padding: 2%
}

#bdp-import-status-popup {
    text-align: center;
}

#bdp-import-status-text {
    text-align: center;
    width: 100%;
    height: 90%;
}

#bdp-import-status-closebutton {
    position: relative;
    bottom: 32px;
}

.sw360modal {
    position: relative;
    z-index: 10000;
}

.foregroundAlert {
    color: #e95850 !important;
}

.foregroundOK {
    color: #9de997 !important;
}

#projectsTable span.clearingstate {
	display: inline-block;
	width: 100%;
	text-align: center;
}

#attachmentsDetail span.dataTableChildRowCell {
    display: inline-block;

    box-sizing: border-box;

    padding-left: 10px;
    height: 100%;

    vertical-align: top;
}

#attachmentsDetail td.details-control {
    cursor: pointer;
}
#attachmentsDetail td.details-control:before {
    content: '\25BA';
}
#attachmentsDetail tr.shown td.details-control:before {
    content: '\25BC';
}
#attachmentsDetail tr.shown, #attachmentsDetail tr.shown td {
    border-bottom: none;
}
#attachmentsDetail tr.shown + tr {
    border-top: none;
}
#attachmentsDetail tr.shown + tr td {
    border-top: none;

    padding-left: 0px;
    padding-right: 0px;
}

.sw360modal button:last-of-type {
    float: right;
}

.sw360modal button:not(:last-of-type) {
    float: left;
}

.release-list-entry-element {
    width: 18%;
}

.release-list-entry-element input {
    width: 100%;
}

.hashvalue {
    word-break: break-all;
    font-family: monospace;
}

.button-div{
 margin-bottom: 1em;
}

#extendedByReleases, .formatSelect {
   width: 20em;
   height: 25px;
   margin-bottom: 0;
   padding:0;
}

.notificationBulletSpan {
    min-width: 25px;
    height: 25px;
    border-radius: 5px;
    font-size: 11px;
    padding: 0 4px;
    font-weight: bold;
    color: #fff;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    float: right;
}

.notificationBulletInline {
    min-width: 25px;
    height: 25px;
    border-radius: 5px;
    font-size: 11px;
    padding: 0 4px;
    font-weight: bold;
    color: #fff;
    line-height: 25px;
    text-align: center;
    display: inline-block;
}

.stateBox {
    height: 25px;
    padding: 0 4px;
    font-weight: bold;
    color: #fff;
    line-height: 25px;
    text-align: center;
    float: left;
}

.capsuleLeft {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.capsuleRight {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.backgroundAlert, .clearingStateOpen {
    background: #e95850;
}

.backgroundWarning, .clearingStateInProgress {
    background: #e9e17e;
}

.backgroundOK, .projectStateActive, .clearingStateClosed {
    background: #9de997;
}

.backgroundGrey, .projectStateInactive, .clearingStateUnknown {
    background: #aaaaaa;
}

.infobar {
    padding: 10px 15px;
    border: 1px solid grey;
    margin: 10px 0;
    border-radius: 3px;
}

.vulnerabilityRatingCommentArea {
    width: 95% !important;
    height: 90% !important;
}

.withTopMargin {
    margin-top: 2em !important;
}

.formatedMessageForVulItem {
    list-style: none;
}

.formatedMessageForVulItem:not(:last-of-type) {
    margin-bottom: 10px;
}

.formatedMessageForVulDate, .formatedMessageForVulPrefix {
    font-size: small;
}

.formatedMessageForVulCheckedBy:before, .formatedMessageForVulComment:before{
    font-size: small;
}

.formatedMessageForVulCheckedBy:before {
    content: "Checked by: ";
}

.formatedMessageForVulComment:before {
    content: "Comment: ";
}

.clear-float {
    clear:right;
}

.mapDisplayRootItem {
    list-style-type: none;
    padding-left:0 !important;
    margin:0 !important;
}

.mapDisplayChildItemLeft {
    font-weight:bold;
    margin: 0;
}

.highlightedRed {
    background-color: #ffdddd;
}

.highlightedYellow {
    background-color: #f6e8b5;
}

.highlightedGreen {
    background-color: #dbffdb;
}

.numberOfVulnerabilitiesNeedUpdate {
    font-size:16px;
}

.sw360-ellipsis {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#attachmentInfo td {
    vertical-align: middle;
}

.dataTable input, .dataTable select {
    max-width: 100%;
}

.aui .tab-content {
    overflow: hidden;
}

.aui .table.dataTable th {
    vertical-align: middle;
}

.aui .table.dataTable th[colspan] {
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
}

.aui .table.dataTable tr.added {
    background-color: #ccffcc;
}

.aui .table.dataTable tr.added td.sorting_1 {
    background-color: #aaffaa;
}

.spinner:before {
    content: '';
    margin-top: -1px;
    margin-right: 0.75em;
    display: block;
    float: left;
    border: 3px solid #efefef;
    border-top: 3px solid rgb(178, 224, 224);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.projectLicenseInfoHeaderText {
    width: 95% !important;
    resize: vertical;
    background-color: white !important;
}
.dropbtn {
      background-color: #f1f1f1;
        color: black;
        min-width: 100px;
        min-height: 20px;
        border: 1px solid;
        cursor: pointer;
        position: relative;

}

.dropbtn:hover, .dropbtn:focus {
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    left: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 130%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    position: relative;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.sw360CircleOK {
   width: 12px;
   height: 12px;
   border-radius: 8px;
   background-color: #9de997;
   float: right;
 }

 .sw360CircleWarning {
    width: 12px;
    height: 12px;
    border-radius: 8px;
    background-color:  #e9e17e;
    float: right;
  }

  .sw360CircleAlert {
     width: 12px;
     height: 12px;
     border-radius: 8px;
     background-color: #e95850;
     float: right;
   }

 .releasePageHeader {
 	border-bottom: 1px solid #cccccc;
 }
 .arrow-down {
   width: 0;
   height: 0;
   margin: 6px 0px 0px 10px;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 8px solid black;
   position: relative;
   float:right;
 }

