/**
 * Copyright Siemens AG, 2017 Part of the SW360 Portal Project.
 *
 * SPDX-License-Identifier: EPL-1-0
 *
 * All rights reserved- This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1-0
 * which accompanies this distribution, and is available at
 * http://www-eclipse-org/legal/epl-v10-html
 *
 * Description: Tooltips for sw360 enums
 *
 * Author: thomas.maier@evosoft.com
 *
 */

.sw360-tt:hover:after {
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 6px;
    position: absolute;
    display: block;
    z-index: 1;
    white-space: pre;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Arial", "sans-serif";
}

/** ComponentType **/
.sw360-tt-ComponentType:hover:after {
    content: "OSS: \A COTS: \A Internal: \A Inner-Source: \A Service: \A Freeware: ";
}

.sw360-tt-ComponentType-OSS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ComponentType-COTS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ComponentType-INTERNAL:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ComponentType-INNER_SOURCE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ComponentType-SERVICE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ComponentType-FREESOFTWARE:hover:after {
    content: "";
    display: none;
}

/** Ternary **/
.sw360-tt-Ternary:hover:after {
    content: "Undefined: \A No: \A Yes: ";
}

.sw360-tt-Ternary-UNDEFINED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-Ternary-NO:hover:after {
    content: "";
    display: none;
}

.sw360-tt-Ternary-YES:hover:after {
    content: "";
    display: none;
}

/** ProjectType **/
.sw360-tt-ProjectType:hover:after {
    content: "Customer: \A Internal: \A Product: \A Service: \A Inner Source: ";
}

.sw360-tt-ProjectType-CUSTOMER:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectType-INTERNAL:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectType-PRODUCT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectType-SERVICE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectType-INNER_SOURCE:hover:after {
    content: "";
    display: none;
}

/** AttachmentType **/
.sw360-tt-AttachmentType:hover:after {
    content: "Attachment Type";
}

.sw360-tt-AttachmentType-DOCUMENT:hover:after {
    content: "just a document";
}

.sw360-tt-AttachmentType-SOURCE:hover:after {
    content: "original course code";
}

.sw360-tt-AttachmentType-DESIGN:hover:after {
    content: "design document";
}

.sw360-tt-AttachmentType-REQUIREMENT:hover:after {
    content: "requirements document";
}

.sw360-tt-AttachmentType-CLEARING_REPORT:hover:after {
    content: "OSS licensing reporting";
}

.sw360-tt-AttachmentType-COMPONENT_LICENSE_INFO_XML:hover:after {
    content: "XML document with licenseing information - e.g. SPDX";
}

.sw360-tt-AttachmentType-COMPONENT_LICENSE_INFO_COMBINED:hover:after {
    content: "XML document with licensing information covering multiple componnts at once - e.g. SPDX";
}

.sw360-tt-AttachmentType-SCAN_RESULT_REPORT:hover:after {
    content: "Output what a scanner for licenses has found";
}

.sw360-tt-AttachmentType-SCAN_RESULT_REPORT_XML:hover:after {
    content: "Output what a scanner for licenses has found this time in XML";
}

.sw360-tt-AttachmentType-SOURCE_SELF:hover:after {
    content: "Self assembled source code distribution";
}

.sw360-tt-AttachmentType-BINARY:hover:after {
    content: "Binary of component from vendor";
}

.sw360-tt-AttachmentType-BINARY_SELF:hover:after {
    content: "Self built binary";
}

.sw360-tt-AttachmentType-DECISION_REPORT:hover:after {
    content: "documenting importing decisions for using this item";
}

.sw360-tt-AttachmentType-LEGAL_EVALUATION:hover:after {
    content: "Some legal evaluation created for this item";
}

.sw360-tt-AttachmentType-LICENSE_AGREEMENT:hover:after {
    content: "A ruling license agreement for this item, note that this could be for commercial software for example";
}

.sw360-tt-AttachmentType-SCREENSHOT:hover:after {
    content: "Screenshot, usually screenshot of the Website with licensing information";
}

.sw360-tt-AttachmentType-README_OSS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-AttachmentType-OTHER:hover:after {
    content: "anything that dos not match to the given above";
}

/** ClearingState **/
.sw360-tt-ClearingState:hover:after {
    content: "New: \A Sent to fossology: \A Under Clearing: \A Report available: \A Approved: ";
}

.sw360-tt-ClearingState-NEW_CLEARING:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ClearingState-SENT_TO_FOSSOLOGY:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ClearingState-UNDER_CLEARING:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ClearingState-REPORT_AVAILABLE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ClearingState-APPROVED:hover:after {
    content: "";
    display: none;
}

/** FossologyStatus **/
.sw360-tt-FossologyStatus:hover:after {
    content: "Fossology Status";
}

.sw360-tt-FossologyStatus-CONNECTION_FAILED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-NON_EXISTENT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-INACCESSIBLE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-ERROR:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-NOT_SENT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-SENT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-SCANNING:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-OPEN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-IN_PROGRESS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-CLOSED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-REJECTED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-REPORT_AVAILABLE:hover:after {
    content: "";
    display: none;
}

/** ModerationState **/
.sw360-tt-ModerationState:hover:after {
    content: "Approved: \A Pending: \A Rejected: \A In Progress: ";
}

.sw360-tt-ModerationState-APPROVED:hover:after {
    content: "A person who has received the moderation request (which could be creator of the document, a clearing admin, a moderator, etc.) has approved the moderation request. It could be deleted then.";
}

.sw360-tt-ModerationState-PENDING:hover:after {
    content: "Not opened so far.";
}

.sw360-tt-ModerationState-REJECTED:hover:after {
    content: "A person who has received the moderation request (which could be creator of the document, a clearing admin, a moderator, etc.) has rejected the moderation request.";
}

.sw360-tt-ModerationState-INPROGRESS:hover:after {
    content: "A person who has received the moderation request (which could be creator of the document, a clearing admin, a moderator, etc.) has opened / viewed the moderation request, but did not decide.";
}

/** ProjectRelationShip **/
.sw360-tt-ProjectRelationship:hover:after {
    content: "Unknown: \A Duplicate: \A Contained: \A Refered: ";
}

.sw360-tt-ProjectRelationship-UNKNOWN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectRelationship-DUPLICATE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectRelationship-CONTAINED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectRelationship-REFERRED:hover:after {
    content: "";
    display: none;
}

/** ReleaseRelationShip **/
.sw360-tt-ReleaseRelationship:hover:after {
    content: "Unkown: If you just do not know \A Contained: If you just do not know whether it is dynamically linked \A Refered: Referencing a stand alone used other part \A Dynamically Linked: Software dynamically linked - as the name says \A Statically linked: Software statically linked - as the name says \A Side by side: Not decided so far \A Standalone: Software is given as standalone delivery, ie. not technically connected \A Internal Use: Used for creating or building or ? the product or projects but not delivered \A Optional: Is not mandatory part of the installation \A To be replaced: Is there but should be moved out";
}

.sw360-tt-ReleaseRelationship-UNKNOWN:hover:after {
    content: "If you just do not know.";
}

.sw360-tt-ReleaseRelationship-CONTAINED:hover:after {
    content: "If you just do not know whether it is dynamically linked.";
}

.sw360-tt-ReleaseRelationship-REFERRED:hover:after {
    content: "Referencing a stand alone used other part.";
}

.sw360-tt-ReleaseRelationship-DYNAMICALLY_LINKED:hover:after {
    content: "Software dynamically linked - as the name says.";
}

.sw360-tt-ReleaseRelationship-STATICALLY_LINKED:hover:after {
    content: "Software statically linked - as the name says.";
}

.sw360-tt-ReleaseRelationship-SIDE_BY_SIDE:hover:after {
    content: "";
    dipslay: none;
}

.sw360-tt-ReleaseRelationship-STANDALONE:hover:after {
    content: "Software is given as standalone delivery, ie. not technically connected.";
}

.sw360-tt-ReleaseRelationship-INTERNAL_USE:hover:after {
    content: "Used for creating or building or ? the product or projects but not delivered.";
}

.sw360-tt-ReleaseRelationship-OPTIONAL:hover:after {
    content: "Is not mandatory part of the installation.";
}

.sw360-tt-ReleaseRelationship-TO_BE_REPLACED:hover:after {
    content: "Is there but should be moved out.";
}

/** RepositoryType **/
.sw360-tt-RepositoryType:hover:after {
    content: "Repository Type";
}

.sw360-tt-RepositoryType-UNKNOWN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-GIT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-CLEARCASE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-SVN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-CVS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-MERCURIAL:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-PERFORCE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-VISUAL_SOURCESAFE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-BAZAAR:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-ALIENBRAIN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-TEAM_FOUNDATION_SERVER:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-RATIONAL_SYNERGY:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-PTC_INTEGRITY:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-DTR:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-DARCS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-FOSSIL:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-GNU_ARCH:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-MONOTONE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-BIT_KEEPER:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-RATIONAL_TEAM_CONCERT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-RCS:hover:after {
    content: "";
    display: none;
}

/** MainlineState **/
.sw360-tt-MainlineState:hover:after {
    content: "Open: Not decided so far \A Mainline: Organisation or person thinks that use of this software is recommended, which included multiple versions \A Specific: The software is not recommended in general, but for special use case or for this particular version it is acceptable \A In Phaseout: The software has issues, please consider removing it soon, if in use \A Denied: Software which is not allowed for use. For example, software that does not have licensing";
}

.sw360-tt-MainlineState-OPEN:hover:after {
    content: "Not decided so far";
}

.sw360-tt-MainlineState-MAINLINE:hover:after {
    content: "Organisation or person thinks that use of this software is recommended, which included multiple versions.";
}

.sw360-tt-MainlineState-SPECIFIC:hover:after {
    content: "The software is not recommended in general, but for special use case or for this particular version it is acceptable.";
}

.sw360-tt-MainlineState-PHASEOUT:hover:after {
    content: "The software has issues, please consider removing it soon, if in use.";
}

.sw360-tt-MainlineState-DENIED:hover:after {
    content: "Software which is not allowed for use. For example, software that does not have licensing.";
}

/** CheckStatus **/
.sw360-tt-CheckStatus:hover:after {
    content: "Accepted: Reviewed and confirmed attachment \A Rejected: Document or attachment cannot be used \A Not checked: Default value after upload";
}

.sw360-tt-CheckStatus-ACCEPTED:hover:after {
    content: "Reviewed and confirmed attachment.";
}

.sw360-tt-CheckStatus-REJECTED:hover:after {
    content: "Document or attachment cannot be used.";
}

.sw360-tt-CheckStatus-NOTCHECKED:hover:after {
    content: "Default value after upload.";
}

/** Visibility **/
.sw360-tt-Visibility:hover:after {
    content: "Private: Only visible by creator (and admin which applies to all visibility levels) \A Me and Moderators: Visible by creator and moderators \A Group and Moderators: All users of the same group and the moderators \A Everyone: Every user who is logged into the system";
}

.sw360-tt-Visibility-PRIVATE:hover:after {
    content: "Only visible by creator (and admin which applies to all visibility levels).";
}

.sw360-tt-Visibility-ME_AND_MODERATORS:hover:after {
    content: "Visible by creator and moderators.";
}

.sw360-tt-Visibility-BUISNESSUNIT_AND_MODERATORS:hover:after {
    content: "All users of the same group and the moderators.";
}

.sw360-tt-Visibility-EVERYONE:hover:after {
    content: "Every user who is logged into the system.";
}

/** ProjectState **/
.sw360-tt-ProjectState:hover:after {
    content: "Active: \A Phase out: \A Unkown: ";
}

.sw360-tt-ProjectState-ACTIVE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectState-PHASE_OUT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectState-UNKNOWN:hover:after {
    content: "";
    display: none;
}

/** ProjectClearingState **/
.sw360-tt-ProjectClearingState:hover:after {
    content: "Open: \A In Progress: \A Closed: ";
}

.sw360-tt-ProjectClearingState-OPEN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectClearingState-IN_PROGRESS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectClearingState-CLOSED:hover:after {
    content: "";
    display: none;
}

/** UserGroup **/
.sw360-tt-UserGroup:hover:after {
    content: "User: \A Admin: \A Clearing Admin: \A ECC Admin: \A Security Admin: \A SW360 Admin: ";
}

.sw360-tt-UserGroup-USER:hover:after {
    content: "";
    display: none;
}

.sw360-tt-UserGroup-ADMIN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-UserGroup-CLEARING_ADMIN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-UserGroup-ECC_ADMIN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-UserGroup-SECURITY_ADMIN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-UserGroup-SW360_ADMIN:hover:after {
    content: "";
    display: none;
}

/** VulnerabilityRatingForProject **/
.sw360-tt-VulnerabilityRatingForProject:hover:after {
    content: "Not checked: \A Irrelevant: \A Resolved: \A Applicable: ";
}

.sw360-tt-VulnerabilityRatingForProject-NOT_CHECKED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-VulnerabilityRatingForProject-IRRELEVANT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-VulnerabilityRatingForProject-RESOLVED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-VulnerabilityRatingForProject-APPLICABLE:hover:after {
    content: "";
    display: none;
}

/** VerificationState **/
.sw360-tt-VerificationState:hover:after {
    content: "Not checked: No one has yet looked at this and verified it \A Checked: It is verified \A Incorrect: It was decided that the verification should be rejected";
}

.sw360-tt-VerificationState-NOT_CHECKED:hover:after {
    content: "No one has yet looked at this and verified it.";
}

.sw360-tt-VerificationState-CHECKED:hover:after {
    content: "It is verified.";
}

.sw360-tt-VerificationState-INCORRECT:hover:after {
    content: "It was decided that the verification should be rejected.";
}

/** ECCStatus **/
.sw360-tt-ECCStatus:hover:after {
    content: "Open: \A In Progress: \A Approved: \A Rejected: ";
}

.sw360-tt-ECCStatus-OPEN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ECCStatus-IN_PROGRESS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ECCStatus-APPROVED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ECCStatus-REJECTED:hover:after {
    content: "";
    display: none;
}

/** DocumentType **/
.sw360-tt-DocumentType:hover:after {
    content: "Component: \A Release: \A Project: \A License: \A User: ";
}

.sw360-tt-DocumentType-COMPONENT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-DocumentType-RELEASE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-DocumentType-PROJECT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-DocumentType-LICENSE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-DocumentType-USER:hover:after {
    content: "";
    display: none;
}
