/**
 * Copyright Siemens AG, 2019. Part of the SW360 Portal Project.
 *
 * SPDX-License-Identifier: EPL-1.0
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 */

.merge.wizardBody {

    .merge.line, .display.line {
        width: auto;
        border: 1px solid;

        & > .row {
            margin: 0;
        }

        + .merge.line, +.display.line {
            border-top: none;
        }
    }

    .merge.block, .display.block {
        padding-top: 1.75rem;
    }

    .merge.single.left {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .merge.single.right, .displayRow {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .merge.single.mid {
        text-align: center;
        font-size: x-large;
    }

    fieldset {
        width: auto; // override default from clay
        margin-left: 1.5rem;

        h5 {
            margin-bottom: 0;
        }

        .row, .displayRow {
            padding: 0.5rem 0.875rem;
        }

        > h5:first-child + fieldset {
            margin-top: 0.875rem;
        }

        + h4 {
            margin-top: 3rem;
        }
    }
}
