/**
 * Copyright Siemens AG, 2017, 2019. Part of the SW360 Portal Project.
 *
 * SPDX-License-Identifier: EPL-1-0
 *
 * This program and the accompanying materials are made
 * available under the terms of the Eclipse Public License 2.0
 * which is available at https://www.eclipse.org/legal/epl-2.0/
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Description: Tooltips for sw360 enums
 */

.info-text {
    ol.formatedMessageForVul {
        list-style-type: decimal;
        margin-left: -0.6rem;

        li:before {
            margin-left: -0.6rem;
        }

        li:not(:last-of-type) {
            margin-bottom: 0.35rem;
        }

        .formatedMessageForVulDate,
        .formatedMessageForVulPrefix,
        .formatedMessageForVulCheckedBy:before,
        .formatedMessageForVulAction:before,
        .formatedMessageForVulComment:before {
            font-size: 90%;
        }

        .formatedMessageForVulCheckedBy:before {
            content: "Checked by: ";
            font-style: italic;
        }

        .formatedMessageForVulCheckedBy b {
            font-weight: normal !important;
        }

        .formatedMessageForVulComment:before {
            content: "Comment: ";
            font-style: italic;
        }

        .formatedMessageForVulAction:before {
            content: "Action: ";
            font-style: italic;
        }
    }
}

.info-text.ui-widget.ui-widget-content {
    max-width: 500px;
    max-height: 300px;
    overflow-x: auto;
    overflow-y: auto;
}

.sw360-tt:hover:after {
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 6px;
    position: absolute;
    display: block;
    z-index: 1;
    white-space: pre;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Arial", "sans-serif";
}

/** ComponentType **/
.sw360-tt-ComponentType:hover:after {
    content: attr(data-content);
}

.sw360-tt-ComponentType-OSS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ComponentType-COTS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ComponentType-INTERNAL:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ComponentType-INNER_SOURCE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ComponentType-SERVICE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ComponentType-FREESOFTWARE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ComponentType-CODE_SNIPPET:hover:after {
    content: "";
    display: none;
}

/** Ternary **/
.sw360-tt-Ternary:hover:after {
    content: attr(data-content);
}

.sw360-tt-Ternary-UNDEFINED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-Ternary-NO:hover:after {
    content: "";
    display: none;
}

.sw360-tt-Ternary-YES:hover:after {
    content: "";
    display: none;
}

/** ProjectType **/
.sw360-tt-ProjectType:hover:after {
    content: attr(data-content);
}

.sw360-tt-ProjectType-CUSTOMER:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectType-INTERNAL:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectType-PRODUCT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectType-SERVICE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectType-INNER_SOURCE:hover:after {
    content: "";
    display: none;
}

/** AttachmentType **/
.sw360-tt-AttachmentType:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-DOCUMENT:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-SOURCE:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-DESIGN:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-REQUIREMENT:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-CLEARING_REPORT:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-COMPONENT_LICENSE_INFO_XML:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-COMPONENT_LICENSE_INFO_COMBINED:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-SCAN_RESULT_REPORT:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-SCAN_RESULT_REPORT_XML:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-SOURCE_SELF:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-BINARY:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-BINARY_SELF:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-DECISION_REPORT:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-LEGAL_EVALUATION:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-LICENSE_AGREEMENT:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-SCREENSHOT:hover:after {
    content: attr(data-content);
}

.sw360-tt-AttachmentType-README_OSS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-AttachmentType-OTHER:hover:after {
    content: attr(data-content);
}

/** ClearingState **/
.sw360-tt-ClearingState:hover:after {
    content: attr(data-content);
}

.sw360-tt-ClearingState-NEW_CLEARING:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ClearingState-SENT_TO_FOSSOLOGY:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ClearingState-UNDER_CLEARING:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ClearingState-REPORT_AVAILABLE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ClearingState-APPROVED:hover:after {
    content: "";
    display: none;
}

/** FossologyStatus **/
.sw360-tt-FossologyStatus:hover:after {
    content: attr(data-content);
}

.sw360-tt-FossologyStatus-CONNECTION_FAILED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-NON_EXISTENT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-INACCESSIBLE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-ERROR:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-NOT_SENT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-SENT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-SCANNING:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-OPEN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-IN_PROGRESS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-CLOSED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-REJECTED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-FossologyStatus-REPORT_AVAILABLE:hover:after {
    content: "";
    display: none;
}

/** ModerationState **/
.sw360-tt-ModerationState:hover:after {
    content: attr(data-content);
}

.sw360-tt-ModerationState-APPROVED:hover:after {
    content: attr(data-content);
}

.sw360-tt-ModerationState-PENDING:hover:after {
    content: attr(data-content);
}

.sw360-tt-ModerationState-REJECTED:hover:after {
    content: attr(data-content);
}

.sw360-tt-ModerationState-INPROGRESS:hover:after {
    content: attr(data-content);
}

/** ClearingRequestState **/
.sw360-tt-ClearingRequestState:hover:after {
    content: attr(data-content);
}

.sw360-tt-ClearingRequestState-NEW:hover:after {
    content: attr(data-content);
}

.sw360-tt-ClearingRequestState-ACCEPTED:hover:after {
    content: attr(data-content);
}

.sw360-tt-ClearingRequestState-REJECTED:hover:after {
    content: attr(data-content);
}

.sw360-tt-ClearingRequestState-IN_QUEUE:hover:after {
    content: attr(data-content);
}

.sw360-tt-ClearingRequestState-IN_PROGRESS:hover:after {
    content: attr(data-content);
}

.sw360-tt-ClearingRequestState-CLOSED:hover:after {
    content: attr(data-content);
}
.sw360-tt-ClearingRequestState-AWAITING_RESPONSE:hover:after {
    content: attr(data-content);
}

/** Clearing Request Priority **/
.sw360-tt-ClearingRequestPriority:hover:after {
    content: attr(data-content);
}

.sw360-tt-ClearingRequestPriority-CRITICAL:hover:after {
    content: attr(data-content);
}

.sw360-tt-ClearingRequestPriority-HIGH:hover:after {
    content: attr(data-content);
}

.sw360-tt-ClearingRequestPriority-MEDIUM:hover:after {
    content: attr(data-content);
}

.sw360-tt-ClearingRequestPriority-LOW:hover:after {
    content: attr(data-content);
}

/** ProjectRelationShip **/
.sw360-tt-ProjectRelationship:hover:after {
    content: attr(data-content);
}

.sw360-tt-ProjectRelationship-UNKNOWN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectRelationship-DUPLICATE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectRelationship-CONTAINED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectRelationship-REFERRED:hover:after {
    content: "";
    display: none;
}

/** ReleaseRelationShip **/
.sw360-tt-ReleaseRelationship:hover:after {
    content: attr(data-content);
}

.sw360-tt-ReleaseRelationship-UNKNOWN:hover:after {
    content: attr(data-content);
}

.sw360-tt-ReleaseRelationship-CONTAINED:hover:after {
    content: attr(data-content);
}

.sw360-tt-ReleaseRelationship-REFERRED:hover:after {
    content: attr(data-content);
}

.sw360-tt-ReleaseRelationship-DYNAMICALLY_LINKED:hover:after {
    content: attr(data-content);
}

.sw360-tt-ReleaseRelationship-STATICALLY_LINKED:hover:after {
    content: attr(data-content);
}

.sw360-tt-ReleaseRelationship-SIDE_BY_SIDE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ReleaseRelationship-STANDALONE:hover:after {
    content: attr(data-content);
}

.sw360-tt-ReleaseRelationship-INTERNAL_USE:hover:after {
    content: attr(data-content);
}

.sw360-tt-ReleaseRelationship-OPTIONAL:hover:after {
    content: attr(data-content);
}

.sw360-tt-ReleaseRelationship-TO_BE_REPLACED:hover:after {
    content: attr(data-content);
}

.sw360-tt-ReleaseRelationship-CODE_SNIPPET:hover:after {
    content: "";
    display: none;
}

/** RepositoryType **/
.sw360-tt-RepositoryType:hover:after {
    content: attr(data-content);
}

.sw360-tt-RepositoryType-UNKNOWN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-GIT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-CLEARCASE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-SVN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-CVS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-MERCURIAL:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-PERFORCE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-VISUAL_SOURCESAFE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-BAZAAR:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-ALIENBRAIN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-TEAM_FOUNDATION_SERVER:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-RATIONAL_SYNERGY:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-PTC_INTEGRITY:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-DTR:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-DARCS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-FOSSIL:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-GNU_ARCH:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-MONOTONE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-BIT_KEEPER:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-RATIONAL_TEAM_CONCERT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-RepositoryType-RCS:hover:after {
    content: "";
    display: none;
}

/** MainlineState **/
.sw360-tt-MainlineState:hover:after {
    content: attr(data-content);
}

.sw360-tt-MainlineState-OPEN:hover:after {
    content: attr(data-content);
}

.sw360-tt-MainlineState-MAINLINE:hover:after {
    content: attr(data-content);
}

.sw360-tt-MainlineState-SPECIFIC:hover:after {
    content: attr(data-content);
}

.sw360-tt-MainlineState-PHASEOUT:hover:after {
    content: attr(data-content);
}

.sw360-tt-MainlineState-DENIED:hover:after {
    content: attr(data-content);
}

/** CheckStatus **/
.sw360-tt-CheckStatus:hover:after {
    content: attr(data-content);
}

.sw360-tt-CheckStatus-ACCEPTED:hover:after {
    content: attr(data-content);
}

.sw360-tt-CheckStatus-REJECTED:hover:after {
    content: attr(data-content);
}

.sw360-tt-CheckStatus-NOTCHECKED:hover:after {
    content: attr(data-content);
}

/** Visibility **/
.sw360-tt-Visibility:hover:after {
    content: attr(data-content);
}

.sw360-tt-Visibility-PRIVATE:hover:after {
    content: attr(data-content);
}

.sw360-tt-Visibility-ME_AND_MODERATORS:hover:after {
    content: attr(data-content);
}

.sw360-tt-Visibility-BUISNESSUNIT_AND_MODERATORS:hover:after {
    content: attr(data-content);
}

.sw360-tt-Visibility-EVERYONE:hover:after {
    content: attr(data-content);
}

/** ProjectState **/
.sw360-tt-ProjectState:hover:after {
    content: attr(data-content);
}

.sw360-tt-ProjectState-ACTIVE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectState-PHASE_OUT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectState-UNKNOWN:hover:after {
    content: "";
    display: none;
}

/** ProjectClearingState **/
.sw360-tt-ProjectClearingState:hover:after {
    content: attr(data-content);
}

.sw360-tt-ProjectClearingState-OPEN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectClearingState-IN_PROGRESS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ProjectClearingState-CLOSED:hover:after {
    content: "";
    display: none;
}

/** UserGroup **/
.sw360-tt-UserGroup:hover:after {
    content: attr(data-content);
}

.sw360-tt-UserGroup-USER:hover:after {
    content: "";
    display: none;
}

.sw360-tt-UserGroup-ADMIN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-UserGroup-CLEARING_ADMIN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-UserGroup-CLEARING_EXPERT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-UserGroup-ECC_ADMIN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-UserGroup-SECURITY_ADMIN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-UserGroup-SW360_ADMIN:hover:after {
    content: "";
    display: none;
}

/** VulnerabilityRatingForProject **/
.sw360-tt-VulnerabilityRatingForProject:hover:after {
    content: attr(data-content);
}

.sw360-tt-VulnerabilityRatingForProject-NOT_CHECKED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-VulnerabilityRatingForProject-IRRELEVANT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-VulnerabilityRatingForProject-RESOLVED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-VulnerabilityRatingForProject-APPLICABLE:hover:after {
    content: "";
    display: none;
}

/** VerificationState **/
.sw360-tt-VerificationState:hover:after {
    content: attr(data-content);
}

.sw360-tt-VerificationState-NOT_CHECKED:hover:after {
    content: attr(data-content);
}

.sw360-tt-VerificationState-CHECKED:hover:after {
    content: attr(data-content);
}

.sw360-tt-VerificationState-INCORRECT:hover:after {
    content: attr(data-content);
}

/** ECCStatus **/
.sw360-tt-ECCStatus:hover:after {
    content: attr(data-content);
}

.sw360-tt-ECCStatus-OPEN:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ECCStatus-IN_PROGRESS:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ECCStatus-APPROVED:hover:after {
    content: "";
    display: none;
}

.sw360-tt-ECCStatus-REJECTED:hover:after {
    content: "";
    display: none;
}

/** DocumentType **/
.sw360-tt-DocumentType:hover:after {
    content: attr(data-content);
}

.sw360-tt-DocumentType-COMPONENT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-DocumentType-RELEASE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-DocumentType-PROJECT:hover:after {
    content: "";
    display: none;
}

.sw360-tt-DocumentType-LICENSE:hover:after {
    content: "";
    display: none;
}

.sw360-tt-DocumentType-USER:hover:after {
    content: "";
    display: none;
}

/** ObligationLevel **/
.sw360-tt-ObligationLevel:hover:after {
	content: attr(data-content);
	position: absolute;
	z-index: 1;
	bottom: 100%;
	right: 50%;
}

.sw360-tt-ObligationLevel-ORGANISATION_OBLIGATION:hover:after {
    content: attr(data-content);
}

.sw360-tt-ObligationLevel-PROJECT_OBLIGATION:hover:after {
    content: attr(data-content);
}

.sw360-tt-ObligationLevel-COMPONENT_OBLIGATION:hover:after {
    content: attr(data-content);
}

.sw360-tt-ObligationLevel-LICENSE_OBLIGATION:hover:after {
    content: attr(data-content);
}

.sw360-tt-ReloadInfo:hover:after {
    content: attr(data-content);
}
