/*
 * Copyright Siemens AG, 2019. Part of the SW360 Portal Project.
 *
 * SPDX-License-Identifier: EPL-1.0
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 */

.portlet-user-personal-bar {
	margin-bottom: 0.5rem;

	font-size: 0.95rem;

	.user-avatar-link {
		display: flex;

		& > a:first-child {
			display: flex;
			align-items: center;
			color: $secondary;

			.user-full-name {
				margin-left: 0.5rem;
				margin-right: 0.5rem;
			}
		}

		.sticker-right {
			position: relative;
			right: auto;
			top: auto;

			width: 1.1rem;
			height: 1.1rem;

			border: 1px solid $warning;
			background-color: $bg-color-light;
		}
	}
}
