/*
 * Copyright Siemens AG, 2019. Part of the SW360 Portal Project.
 *
 * This program and the accompanying materials are made
 * available under the terms of the Eclipse Public License 2.0
 * which is available at https://www.eclipse.org/legal/epl-2.0/
 *
 * SPDX-License-Identifier: EPL-2.0
 */

table.table {
	&.label-value-table {
		// for some reason, the color is not applied when switching pages without the '!important' modifier.
		border-color: $light-color !important;
	}

	th {
		color: $box-header-fg;
		background-color: $box-header-bg;

		a {
			color: $box-header-fg;
		}

		a:hover {
			color: $primary;
		}
	}
}
