/*
 * Copyright Siemens AG, 2019. Part of the SW360 Portal Project.
 *
 * SPDX-License-Identifier: EPL-1.0
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 */

table.table {
	&.label-value-table {
		border-color: $light-color;
	}

	th {
		color: $box-header-fg;
		background-color: $box-header-bg;

		a {
			color: $box-header-fg;
		}

		a:hover {
			color: $primary;
		}
	}
}
