/*
 * Copyright Siemens AG, 2019. Part of the SW360 Portal Project.
 *
 * SPDX-License-Identifier: EPL-1.0
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 */

 .treetable {
    .highlightSuccess td {
        background-color: $highlight-bg-success;
    }

    .highlightWarning td {
        background-color: $highlight-bg-warning;
    }

    .highlightDanger td {
        background-color: $highlight-bg-danger;
    }
}
