/*
 * Copyright Siemens AG, 2019. Part of the SW360 Portal Project.
 *
 * This program and the accompanying materials are made
 * available under the terms of the Eclipse Public License 2.0
 * which is available at https://www.eclipse.org/legal/epl-2.0/
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.type-icon-component {
    color: #6CBB6C;
}
.type-icon-license {
    color: #6683C2;
}
.type-icon-project {
    color: #E6A418;
}
.type-icon-release {
    color: #FF7F27;
}
.type-icon-oblig {
    color: #009E09;
}
.type-icon-user {
    color: #CE5A5E;
}
.type-icon-vendor {
    color: #8A66C2;
}
