/*
 * Copyright Siemens AG, 2019. Part of the SW360 Portal Project.
 *
 * This program and the accompanying materials are made
 * available under the terms of the Eclipse Public License 2.0
 * which is available at https://www.eclipse.org/legal/epl-2.0/
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.sw360-portlet-decorator {
	.portlet-header {
		display: none;
	}

	.portlet-topper {
		right: auto !important;
		font-size: 0.9rem;
		z-index: 1000;

		.portlet-topper-toolbar {
			.portlet-title-default + & {
				margin-left: 1rem;
			}
		}
	}

	.portlet-content-editable {
		padding: 0.3rem;
	}
}

.not-signed-in {
	.portlet {
		border-color: $primary;

		.portlet-content {
			background-color: transparent;
		}
	}
}

.hide-portlet-edit-decorators {
	.sw360-portlet-decorator {
		.portlet-topper {
			display: none;
		}

		.portlet-content-editable {
			border-color: transparent !important;
		}
	}
}
