/*
 * Copyright Siemens AG, 2019. Part of the SW360 Portal Project.
 *
 * SPDX-License-Identifier: EPL-1.0
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 */

 header {
	@import "header/navigation";
	@import "header/user";

	background-color: $header-bg;
	border-bottom: 1px solid $light-color;

	&#banner > .container > .row {
		display: flex; //overwrite from clay
		padding-top: 0.25rem;

		&:first-child {
			padding-top: 1rem;
		}
	}

	.header-toolbar {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		& > div {
			margin-right: 1rem;
		}

		& > div:last-child {
			margin-right: 0;
		}
	}
}
