<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN" "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>

    <!-- Import Google style configuration -->
    <module name="TreeWalker">
        <module name="ImportControl">
            <property name="file" value="scripts/lint/google_checks.xml"/>
        </module>
    </module>


    <module name="LineLength">
        <property name="max" value="120"/>
        <property name="ignorePattern" value="^$"/>
    </module>
</module>
