/*
 * Copyright Siemens AG, 2019. Part of the SW360 Portal Project.
 *
 * SPDX-License-Identifier: EPL-1.0
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 */

#portlet_sw360_portlet_signup {
	margin: 2rem;

	overflow: hidden;
	border: none;

	.portlet-content {
		padding: 0;

		.display-4 {
			font-size: 2.75rem;
			font-weight: 400;
		}

		.lead {
			margin-top: 2rem;
		}

		.buttons {
			margin-top: 1.75rem;

			> * {
				margin-left: 3rem;

				&:first-child {
					margin-left: 0;
				}
			}
		}

		#createAccount {
			margin-top: 2rem;
		}

		form {
			max-width: 500px;
		}
	}
}
