/**
*
* Modifications applied by Siemens AG 2014.
* Modifications for supporting own infrastructure.
*
* Original file from: Liferay Inc.
*
* Description: Styles for breadcrumbs in custom Theme
*
* Authors: nunifar.ms@siemens.com, puspa.panda@siemens.com
*/
/* ---------- Breadcrumbs ---------- */

.breadcrumbs-horizontal {
	margin-bottom: 1.5em;
}

.breadcrumbs-horizontal li {
	/*background: url(../images/arrows/05_right.png) no-repeat 100% 50%;*/
	/*margin-right: 5px;*/
	max-width: 50%;
	/*padding-right: 15px;*/
}

.breadcrumbs-vertical li {
	background: url(../images/arrows/07_down.png) no-repeat 50% 100%;
	padding: 0 0 9px;
	max-width: auto;
}

.breadcrumbs a {
	display: block;
}

.breadcrumbs-vertical a {
	text-align: center;
	text-decoration: none;
}

.breadcrumbs .last {
	background-image: none;
}

.breadcrumbs-horizontal .last {
	margin-top: 0em;
}

.breadcrumbs-vertical .last {
	font-weight: bold;
}

.breadcrumbs-horizontal .last a, .aui-tree-node-selected a {
	color: #555;
}

/* ---------- Hidden Accessible ---------- */

#skip-to-content, #banner h2, #banner h3, #navigation h1, .site-breadcrumbs h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

.opens-new-window-accessible {
	background: url(../images/common/open_window.png) no-repeat 0 50%;
	display: inline-block;
	font-size: 0;
	height: 11px;
	margin-left: 2px;
	overflow: hidden;
	text-indent: -9999px;
	vertical-align: top;
	width: 11px;
}

/* ---------- Extras ---------- */

.lfr-title-scope-selector {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.lfr-title-scope-selector {
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.logo .current-site, #navigation, #navigation a, .portlet, .portlet-topper, .site-breadcrumbs ul, .aui-form-validator-message {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}