/**
*
* Modifications applied by Siemens AG 2014.
* Modifications for supporting own infrastructure.
* With modifications by Bosch Software Innovations GmbH, 2016.
*
* Original file from: Liferay Inc.
*
* Description: Styles for Navigation
*
* Authors: nunifar.ms@siemens.com, puspa.panda@siemens.com
*/
@import "compass";

/* ---------- Add/remove page ---------- */
.modify-pages {
	li {
		position: relative;
	}

	.delete-tab {
		background: #333 url(../images/portlet/close_borderless.png) no-repeat 50%;
		cursor: pointer;
		display: block;
		height: 8px;
		margin-top: -7px;
		padding: 3px;
		position: absolute;
		right: 1px;
		text-indent: -9999em;
		top: 50%;
		width: 8px;
	}
}

.nav {
	li .toolbar {
		margin-top: 5px;
	}


}

/* ---------- Navigation portlet ---------- */

.nav-menu {
	ul {
		padding-left: 10px;
	}

	li a {
		&.ancestor {
			font-weight: bold;
		}

		&.selected {
			color: #444;
			font-weight: bold;
			text-decoration: none;
		}
	}
}

.nav-menu-style-arrows ul {
	list-style-image: url(../images/arrows/04_right.png);
}

/* ---------- Page template selector ---------- */

.form-options {
	border: 1px solid #AAA;
	display: inline-block;
	vertical-align: middle;

	input {
		border-width: 0;
		display: inline;
		float: left;
	}
}

.form-triggers {
	float: left;
}

.form-trigger {
	background: #C4C4C4 url(../images/application/button_bg.png) repeat-x 0 0;
	border-left: 1px solid #BBB;
	display: inline-block;
	float: left;

	img {
		background: url() no-repeat 50% 40%;
		height: 25px;
		padding: 0 3px;
		vertical-align: middle;
		width: 16px;
	}

	&:focus, &:hover {
		background-color: #83B0CA;
		background-image: url(../images/application/button_bg_over.png);
	}
}

.trigger-selected {
	background-color: #EBEBEB;
	background-image: url(../images/application/button_bg_selected.png);

	&:focus, &:hover {
		background-color: #B7DEF4;
		background-image: url(../images/application/button_bg_selected_over.png);
	}
}

.options-trigger img {
	background-image: url(../images/common/configuration.png);
}

.save-trigger img {
	background-image: url(../images/common/check.png);
}

.contactsBttn {
	border:none;
	background-color:#999999;
}

.contactsBttn:hover {
	border:none;
	background-color:#666666;
}

.addButton, .cancelButton, .acceptButton, .ignoreButton, .postponeButton, .notApplicableButton {
	color: white;
    border: none;
    height: 25px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;

    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}

.addButton {
	background-color: #e95850;
}

.addButton:hover {
    background-color: #c2332b;
}

.cancelButton {
    background-color: #bbbbbb;
}

.cancelButton:hover {
    background-color: #767676;
}

.acceptButton {
	 background-color: #41e958;
 }

.acceptButton:hover {
	background-color: #1a875e;
}

.ignoreButton {
	background-color: #ad1ae9;
}

.ignoreButton:hover {
	background-color: #4b2e88;
}

.postponeButton {
	background-color: #6860e9;
}

.postponeButton:hover {
	background-color: #1a1ce9;
}

.notApplicableButton {
	background-color: #bbbbbb;
}

